ul{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
ul button{
    padding: 20px;
    background-color: #FF9400;
    border: 3px solid black;
    cursor: pointer;
}

button a{color: #000000; font-size: 1.5rem;}